font-size 30px;
front-weight:bold;
margin-top: 26px;
margin-bottom 26px;
color : #ff0088;
}

form p {
front-size 20px;
margin-top:105px;
front-weight:bold;
padding: 0,3px;
color : #ff0088;